<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59146001-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-59146001-2');
    </script>       
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sports Picks">
    <meta name="author" content="Michael G.">
    <title>Zillion Picks</title>
    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css"  rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap4.css') }}"  rel="stylesheet">
    <!-- Load Stripe.js on your website. -->
    <script src="https://js.stripe.com/v3"></script>   
  </head>
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('landing_page_bp.landing_page')}}">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-football-ball"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Zillion Picks</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Pages Collapse Menu -->
        {% for sidebar_season in sidebar_links.keys() | sort(reverse=True) %}   
        {% if active == sidebar_season %}
        <li class="nav-item active">
        {% else %}
        <li class="nav-item">
        {% endif %}      
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse{{sidebar_season}}" aria-expanded="false" aria-controls="collapse{{sidebar_season}}">
            <i class="fas fa-fw fa-folder"></i>
            <span>{{sidebar_season}} Season</span>
          </a>
          <div id="collapse{{sidebar_season}}" class="collapse" aria-labelledby="heading{{sidebar_season}}" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                {% for row in sidebar_links[sidebar_season]  %}   
                {% if row.Week == week and sidebar_season == season  %}
                <a class="collapse-item active" href="{{ url_for('dashboard_bp.picks', is_premium = row.is_premium|lower, season=sidebar_season, week=row.Week)}}"> 
                {% else %}
                <a class="collapse-item" href="{{ url_for('dashboard_bp.picks', is_premium = row.is_premium|lower, season=sidebar_season, week=row.Week)}}"> 
                {% endif %}
                <i class="fas fa-fw fa-table"></i>
                <span> {% if row.Week == 'postseason'%} Post Season {% else %} Week {{row.Week}} {% endif %} <small>({{row.is_premium}})</small></span></a>
                {% endfor %}                  
            </div>
          </div>
        </li>
        {% endfor %}
        <!-- Nav Item - Contact -->
        {% if active == 'contact_us' %}
        <li class="nav-item active">
        {% else %}
        <li class="nav-item">
        {% endif %}   
          <a class="nav-link" href="{{ url_for('dashboard_bp.contact') }}">
            <i class="fas fa-fw fa-paper-plane"></i>
            <span>Contact Us</span></a>
        </li>
        <!-- Nav Item - About -->
        {% if active == 'about' %}
        <li class="nav-item active">
        {% else %}
        <li class="nav-item">
        {% endif %}   
          <a class="nav-link" href="{{url_for('dashboard_bp.about')}}">
            <i class="fas fa-fw fa-question-circle"></i>
            <span>About</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          {% block content %}
          {% endblock %}
        </div>
        <!-- End of Main Content -->
        <!-- Footer-->
        <footer class="footer text-center">
          <div class="container">
              <div class="row">
                  <!-- Footer Location-->
                  <div class="col-lg-4 mb-5 mb-lg-0">
                      <h4 class="text-uppercase mb-4">Location</h4>
                      <p class="lead mb-0">Nashville, TN<br />Unites States of America</p>
                  </div>
                  <!-- Footer Social Icons-->
                  <div class="col-lg-4 mb-5 mb-lg-0">
                      <h4 class="text-uppercase mb-4">Around the Web</h4>
                      <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/zillionpicks"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/michael-gardner-38a29658/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                  </div>
                  <!-- Footer About Text-->
                  <div class="col-lg-4">
                      <h4 class="text-uppercase mb-4">About Website Design</h4>
                      <p class="lead mb-0">The design template is a free to use, MIT licensed Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                  </div>
              </div>
          </div>

          <!-- Begin Mailchimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
            #mc_embed_signup{background:#2c3e50; clear:left; font:14px; width:100%; padding: 10px 30px 10px 30px;}
            #mc_embed_signup .button{background-color: #dd550c;}
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
              We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
          <form action="https://zillionpicks.us18.list-manage.com/subscribe/post?u=8d1b83d469a4d3becbcf258c5&amp;id=58b2d2aa30" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
            <span style="margin:1rem"> Get notified when Picks are updated </span> 
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8d1b83d469a4d3becbcf258c5_58b2d2aa30" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
          </div>
          <!--End mc_embed_signup-->

        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Bootstrap core JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/picks.js') }}"></script>
    <!-- Page level plugins -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <!-- Export level plugins-->
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script> 
    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/datatables-demo.js') }}"></script>
  </body>
</html>
